.splittermond {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background-color: var(--blue-color-verylight);
  .choose-character {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    button {
      font-size: 1.5rem;
    }
  }

  .newChar {
    max-width: 40rem;
    margin: 5rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 5px var(--blue-color) solid;
    text-align: center;
    input {
      margin: 0;
      text-align: center;
    }
    h3 {
      text-align: center;
      margin-bottom: 10px;
    }
    label {
      font-size: 1.2rem;
      margin-top: 15px;
    }
    button {
      margin: auto;
    }
    .buttonBorder {
      background-color: var(--red-color);
      &:hover {
        color: white;
      }
    }
  }
  .eraseChar {
    border: 5px var(--red-color) solid;
  }
  .newChar_attributes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    gap: 5px;
    label {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
}
