.splittermond{
    .meisterschaften{
        .select-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        select {
            max-width: 25rem;
        }
        .label {
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}